<h1>Mission detail</h1>

<p>Category: {{missionDetail.category}}</p>
<p>Description: {{missionDetail.description}}</p>
<p>Location: {{missionDetail.location}}</p>
<p>From: {{format-date missionDetail.date_deb}}</p>
<p>To: {{format-date missionDetail.date_fin}}</p>